<p id="notice"><%= notice %></p>

<style>
  .hidden{
    display: none;
  }
</style>

<h1>Directors</h1>
<hr>
<img src="cover.png" height="170px" width="180px" align="left">
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>User ID</th>
      <th class="hidden">User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

    <% @directors.each do |director| %>
      <tr>
        <td><%= director.name %></td>
        <td><%= director.user_id %></td>
        <td><%= link_to 'Show', director, :class => 'btn btn-default' %></td>
        <td><%= link_to 'Edit', edit_director_path(director), :class => 'btn btn-secondary' %></td>
        <td><%= link_to 'Destroy', director, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<br>

<%= link_to 'New Director', new_director_path, :class => 'btn btn-primary' %>
