<!DOCTYPE html>
<html>
  <head>
    <title>RorProjectOne8</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-defaultp">
   <div class="container">
     <div class="navbar-header">
       <h1 class="navbar-brand" href="#"><%= link_to "Film Directors", home_path %></h1>
     </div>
     <div id="navbar" class="collapse navbar-collapse">
       <ul class="nav navbar-nav">
         <li><%= link_to "Home", home_path %></li>
       </ul>
       <ul class="nav navbar-nav navbar-right">
         <li><%= link_to "Create Director", new_director_path %></li>
       </ul>
     </div><!--/.nav-collapse -->
   </div>
 </nav>

 <div class="container">

    <% if user_signed_in? %>
    Logged in as <strong><%= current_user.email %></strong>.
    <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
    <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link' %>
    <% else %>
    <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link' %> |
    <%= link_to "Login", new_user_session_path, :class => 'navbar-link' %>
    <% end %>
    <%= yield %>
  </body>

</html>
